@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Charm&family=Source+Sans+Pro:wght@300&display=swap');
@layer base{
body {
   @apply font-[Charm]
} 
li  {
  @apply px-4 ;
  @apply cursor-pointer
}

.icons {
  @apply bg-black text-orange-400 w-[40px] h-6 
} }

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(165, 158, 158, 0.8),
      hsla(36, 82%, 45%, 0.945)   
  )!important;
};


